.collections__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.collections__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.collections__item:hover {
    background: transparent;
}

.collections__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.collections__item h3 {
    margin: 1.2rem 0 2rem;
}

.collections__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ========== MADE ========== 
.made {
    width: 22rem;
    height: 30rem;
    display: flex;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}
*/

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 
    .collections__container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {
    .collections__container {
        grid-template-columns: 1fr;
    }
}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {
    .collections__container {
        width: 100%;
        padding-bottom: 3rem;
    }
}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
    #collections {
        display: none;
    }
}