.services__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-primary);
    border-radius: 2rem;
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head {
    background: var(--color-lurp);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1.2rem;
    text-align: center;
}

.service__list {
    display: grid;
    text-align: center;
    padding: 2rem;
}

.service__list li > p {
    gap: 1rem;
    margin-bottom: 0.8rem;
    color: var(--color-bg);
}

.service__list-icon {
    color: var(--color-primary-variant);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.8rem;
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1324px) { 
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .service {
        height: auto;
    }
}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 924px) {
    .services__container {
        grid-template-columns: 1fr;
    }
}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {

}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
    .services__container {
        width: 90%;
        padding-bottom: 3rem;
    }
}