.projects__container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.projects__item {
    background: var(--color-bg);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projects__item:hover {
    background: transparent;
}

.projects__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.projects__item h3 {
    margin: 1.2rem 0 2rem;
}

.projects__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ========== MADE ========== 
.made {
    width: 22rem;
    height: 30rem;
    display: flex;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}
*/

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 
    #projects {
        padding-top: 5rem;
    }
    .projects__container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        font-size: 1rem;
    }
}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {
    .projects__container {
        grid-template-columns: 1fr;
    }
}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {
    .projects__container {
        margin-top: -12rem;
        margin-bottom: -10rem;
        transform: scale(0.85);
    }
}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
    .projects__container {
        margin-top: -5rem;
        margin-bottom: -5rem;

    }
}