.container.tacos__container {
    width: 50%;
    height: 50vh;
}

.tacos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tacos__bg {
    width: 100%;
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: var(--color-lurp);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {

}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {
    .tacos__game iframe {
        transform: scale(0.7);
    }
}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
    .container.tacos__container {
        display: none;
    }
}