.container.team__container {
    width: 50%;
    padding-bottom: 4rem;
}

.client__avatar {
    width: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.5rem solid white;
}

.kit {
    background: var(--color-bg);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.cleint__name {
    color: var(--color-lurp);
}

.client__review {
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ========== MEDIA QUERIES (DESKTOP SCREEN) ========== */ 
@media screen and (max-width: 1024px) { 
    .container.team__container {
        width: 70%;
    }
}

/* ========== MEDIA QUERIES (TABLET SCREEN) ========== */
@media screen and (max-width: 824px) {
    .container.team__container {
        width: 80%;
    }    
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {

}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {
    .container.team__container {
        width: 100%;
    }
}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {

}