

.mint__container {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 15%;
    text-align: center;
}

.mint__image {
    margin: 0 auto 1rem;
    padding-left: 2rem;
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {
    .mint {
        padding-bottom: 50rem;
    }
}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {

}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
    .mint {
        padding-bottom: 25rem;
    }
    .mint__image {
        padding-top: 2rem;
    }
}